<footer>
  <nav
    class="navbar navbar-light bg-light justify-content-center border-top mt-4"
  >
    <span class="navbar-text">
      © 2022
      <a
        href="https://m17project.org"
        target="_blank"
        rel="noopener noreferrer"
        >KC1AWV - M17 Project</a
      >
    </span>
  </nav>
</footer>
